@import url('../css/cores.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    line-height: 1;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-white);
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-white);
    text-decoration: none;
}

.sidebar-navigation {
    position: fixed;
    top: 60px; /* altura do header */
    left: 0;
    width: 80px;
    height: calc(100vh - 60px); /* ocupa o restante da altura */
    background-color: var(--sidebar-background-color);
    box-shadow: var(--shadow);
    z-index: 998;
    overflow-x: hidden; /* Impede scroll horizontal */
}

.sidebar-navigation ul {
    text-align: center;
    width: 100%;
    padding: 0;
}

.sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: var(--transition);
    position: relative;
    width: 100%;
}

.sidebar-navigation ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    color: var(--text-white);
}

.sidebar-navigation ul li i svg {
    width: 24px;
    height: 24px;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: var(--tooltip-background-color);
    color: var(--text-white);
    padding: 8px 15px;
    border-radius: var(--border-radius);
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: .5px;
    transition: var(--transition);
    z-index: 10;
    white-space: nowrap; /* Impede quebra de linha no tooltip */
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: var(--hover-sidebar-link-color);
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: var(--active-sidebar-link-color);
}

.sidebar-navigation ul li.active i {
    color: var(--active-link-color);
}